body {
    padding: 40px;
    background-image: linear-gradient(#e8f0ff 0%, white 52.08%);
    color: #0e3481;
    min-height: 100vh;
  }
  
.galleria img{
    height:250px;
    width:200px;
    margin:20px;
}